<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<log4net>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\" />
			<appendToFile value="true" />
			<datePattern value="MM-dd-yyyy'.log'" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="20MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level [%thread] %logger - %message  %exception %newline" />
			</layout>
			<threshold value="All" />
		</appender>
		<root>
			<appender-ref ref="file" />
			<appender-ref ref="console" />
		</root>
		<logger name="WeatherMonitoringStationLog">
			<level value="Debug" />
		</logger>
	</log4net>
</configuration>